# AppVeyor configuration for AppVeyor project "primordialmachine".
clone_depth: 1

# Build worker image (VM template).
image: Visual Studio 2022

# Build on pushes to all branches.
branches:
  only:
    - main
#    - develop

# Do not build on tag pushes.
skip_tags: true

# Build platform "x64" and "Win32".
platform:
    - x64
    - Win32

# Build configurations.
#configuration:
#    - Release
#    - Debug
#    - MinSizeRel
#    - RelWithDebInfo

install:
    # Download and install CMake.
    - set CMAKE_URL="https://cmake.org/files/v3.29/cmake-3.29.0-windows-x86_64.zip"
    - appveyor DownloadFile %CMAKE_URL% -FileName cmake.zip
    - 7z x cmake.zip -oC:\projects\deps > nul
    - move C:\projects\deps\cmake-* C:\projects\deps\cmake # Move to a version-agnostic directory
    - set PATH=C:\projects\deps\cmake\bin;%PATH%
    - cmake --version

# Generate solution and project files.
before_build:
    - ps: |
       if (${env:PLATFORM} -eq 'Win32') {
          ${env:SUFFIX}="x86"
        } elseif(${env:PLATFORM} -eq 'x64') {
          ${env:SUFFIX}="x64"
        } else {
          throw "unsupported platform ${env:PLATFORM}";
        }
        ${env:SUFFIX}="${env:SUFFIX}";
        Write-Host "Suffix: ${env:SUFFIX}";
        ${env:PREFIX}="${env:Temp}";

build_script:
    - ps: Write-Host "build started"
    - ps: ./build.ps1 -TargetArchitecture ${env:SUFFIX}
    - ps: Compress-Archive -Path ./.dependencies/* -DestinationPath ${env:APPVEYOR_BUILD_FOLDER}/dependencies-${env:SUFFIX}.zip
    - ps: Write-Host "build finished"

after_build:

# If one matrix entry fails, all entries fails (https://www.appveyor.com/docs/build-configuration#failing-strategy).
matrix:
    fast_finish: true

artifacts:
    - path: dependencies-$(SUFFIX).zip
      name: arcadia-dependencies-$(SUFFIX)

deploy:
    release: michaelheilmann.com-dependencies-v$(APPVEYOR_BUILD_VERSION)
    tag: michaelheilmann.com-dependencies-v$(APPVEYOR_BUILD_VERSION)
    description: 'michaelheilmann.com dependencies v$(APPVEYOR_BUILD_VERSION)'
    provider: GitHub
    auth_token:
        secure: iTg7jon0UCvoGT5y2flVxA/51k5KiTsGKLDKNVffTHH+hpzToAuhoN10dFFE4aecyJSgaDkL+DZLG8w17ovMdBO0wM0r90DisUq95xxpw/C9vkn2s3tXBH890DsNrkk6 # encrypted token from GitHub
        artifact: arcadia-dependencies-$(SUFFIX) # name (not path) of the artifact
    draft: true
    prerelease: false
    force_update: true
    on:
        branch: main # release from master branch only
